<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="callSettersOnNulls" value="true" />
        <setting name="lazyLoadingEnabled" value="true" />
    </settings>

    <typeAliases>
        <!-- for SeleniumMapper.xml -->
        <typeAlias alias="SeleniumConfig" type="com.example.selenium.model.selenium.SeleniumConfig" />
        <typeAlias alias="ImcMtMsg" type="com.example.selenium.model.biztalk.ImcMtMsg" />
    </typeAliases>

</configuration>
